@import url('reset.css');

body{
    background: #F9F9F9;

}

/* -------------HEADER--------------*/

header{
    display: flex;
    width: 100%;
    height: 56px;
    background: white;
    padding: 0 24px;
    justify-content: space-between;
}

.nav-button{
    width: 20px;
    height: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;  
}

.vector{
    width: 20px;
    height: 0;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: #000000;
}

#logo-link{
    height: 20px; 
}
.logo{
    width: 90px;
    height: 20px;
    object-fit: cover; 
}

#logo-menu{
    display: flex;
    align-items: center;
    width: 146px;
    height: 20px;
    justify-content: space-between;
    margin: 16px 0;
}

.search-bar{
    margin: 8px 0;
    display: flex;
}

.submit-btn{
    width: 57px;
    height: 40px;
    border: 1px solid #CCCCCC
}

.search-input{
    width: 348px;
    height: 40px;
    background: white;
    border: 1px solid #CCCCCC
}

#profile-icons{
    display: flex;
    margin: 11px 0;
    align-items: center;
    width: 130px;
    height: 34px;
    justify-content: space-between;
}

.profile-image{
    height: 34px;
    width: 34px;
    object-fit: cover;
    border-radius: 50%;;
}


/* -------------MAIN--------------*/
main{
    padding: 28px 15px 15px 75px;
    display: flex;
    flex-direction: row;
   
}
.video-section{
    width: 60vw;
      
}

.video{
    width: 60vw;
    height: 73vh;
}

.video-title{
    margin: 16px 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.video-data{
    height: 40px;
    display: flex;
    justify-content: space-between;
    
}
.channel{
    display: inline-flex;
    align-items: center;
}

.channel-description{
    margin-left: 12px;
}

#channel-name{
    font-size: .8rem;
    font-weight: 600;
}

#channel-subs{
    color: #515151;
    font-size: .8rem;
}

.channel-image{
    height: 42px;
    width: 42px;
    object-fit: cover;
    border-radius: 50%;;
}

.sub-btn{
    color:white;
    background-color: #CC0000;
    width: 159px;
    height: 40px;
    border: 0;
    border-radius: 2px;
}

.option{
    display: inline-flex;
    align-items: center;
} 

.option p{
    margin-left: 10px;
    font-size: .8rem;
    font-weight: 600;

}

.description p{
    font-family: Roboto;
    font-size: .8rem;
    font-weight: 400;
    text-align: left;
    color: #515151;
}

.description {
    margin-top: 16px;
    width: 510px;
}

.recomendation-section{
    width: 25vw;
    margin-left:25px ;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    
}

.video-recomendation{
    height: 90px;
    display: flex;
}

.video-thumb{
    width: 160px;
    height: 90px;
    object-fit: cover;
}

.recomendation-data{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recomendation-title{
    font-size: .8rem;
    font-weight: 600;
}

.recomendation-description{
    color: #515151;
    font-size: .7rem;
    font-weight: 400;

}